# MacOS specific
.DS_Store

# All the files are generated during run time reside in `.tmp` folder
.tmp

# OTA files
*.zip

# Keys and secrets
.keys

# Python virtual environment
venv


avb.key
avb_pkmd.bin
keys-base64.txt
ota.crt
ota.key
